<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>List City</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid text-center" >
  <div>
    <a class="h2" href="/city">All Cities Page!!!</a>
  </div>

  <div class="m-2">
    <a class="h3" th:href="@{/city/add}" style="text-decoration: none">Add New City</a>
    <br>
  </div>
  <div>
    <div th:if="${mess}" class="alert alert-success text-center">
      [[${mess}]]
    </div>
    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>City's Name</th>
          <th>City's National</th>
          <th>Management</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="city,loop : ${listAllCity}">
          <tr>
            <td>[[${loop.count}]]</td>
            <td>[[${city.id}]]</td>
            <td><a th:href="@{'/city/show/' + ${city.id}}">[[${city.name}]]</a></td>
            <td>[[${city.national.name}]]</td>
            <td>
              <a th:href="@{'/city/edit/' + ${city.id}}" class="h4 mr-3">Edit</a>
              <a onclick="return confirm('Are you sure?')" th:href="@{'/city/delete/' + ${city.id}}" class="h4 mr-3">Delete</a>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>